body {
	font-family: Z003;
	font-size: 20px;
	color: white;
	background-color: #3cc6d5;
}

h1 {
	text-align: center;
}

ul {
	list-style-type: none;
}

input {
	border-radius: 7px;
	width: 300px;
	font-family: Z003;
	font-size: 24px;
	margin: 0 20px 0 20px;
}

input[type="submit"] {
	font-size: 30px;
	width: 308px;
	height: 50px;
	margin: 20px;
}

.hint {
	font-size: 17px;
	font-family: Ubuntu italic;
	color: #444;
	margin: 15px 10px 0 20px;
}

.mainForm {
	padding: 10px;
	border-radius: 20px;
	background-color: #2cb6d6;
	margin-left: auto;
	margin-right: auto;
	width: 345px;
}

.result, .initial {
	padding: 15px;
	display: inline-block;
	border-radius: 20px;
	background-color: #2cb6d6;
	font-size: 35px;
}

span {
	font-size: 40px;
	color: #444;
}

.result li {
	margin-top: 20px;
}

a {
	text-decoration: none;
	padding: 10px;
}

.index {
	margin-top: 100px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.index li {
	border-radius: 7px;
	padding: 10px;
	margin: 30px;
	font-size: 30px;
	display: inline;
	background: white;
}

.compare {
	display: inline-block;
	padding: 10px;
	border-radius: 20px;
	background-color: #2cb6d6;
}

.compare input[type="submit"] {
	margin-left: 30%;
	margin-right: 30%;
}