body {
	font-family: Arial, cursive;
	font-size: 20px;
	color: #0d2454;
	background-color: #78bbbf;
}

.error {
	text-align: center;
	padding: 10px;
	color: red;
}

.success {
	text-align: center;
	color: green;
	padding: 5px;
}

.window {
	border-radius: 10px;
	background-color: #eee;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 300px;
}

input {
	margin: 10px;
	font-size: 22px;
}

span {
	margin: 10px;
}